# Ignore node_modules in both frontend and backend
frontend/node_modules/
backend/node_modules/

# Ignore general node_modules
node_modules/

# Ignore build output
build/

# Ignore environment variables
.env
*.env

# Ignore system files (like .DS_Store)
.DS_Store
*.log
